$heading-font-family: "Montserrat", sans-serif
$body-font-family: $heading-font-family

$header-background: #ffffff
$color-accent: #2b8f96
$color-text: #000000
$color-text-alt: #454545
$footer-background-color: #B7E1E4

$hero-background-color: none
$header-border-bottom-width: 0

$header-logo-height: 50px
$header-logo-height-desktop: 60px
$footer-logo-height: 50px
$footer-logo-height-desktop: 70px

$h1-size-desktop: 40px
$h1-size: 26px
$h2-size-desktop: 34px
$h2-size: 32px
$h3-size-desktop: 28px
$h3-size: 26px
$body-size-desktop: 16px
$body-size: 14px

$quote-font-family: $heading-font-family

$quote-size-desktop-long: pxToRem(48)
$quote-weight: normal