$heading-font-family: "Montserrat", sans-serif
$body-font-family: $heading-font-family

$h1-size-desktop: pxToRem(40)
$h1-size: pxToRem(26)
$p-size-desktop: pxToRem(32)

$header-background: #B7E1E4
$color-accent: #2b8f96
$color-text: #000000
$color-text-alt: #454545
$footer-background-color: #B7E1E4

$hero-background-color: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$footer-logo-height: 50px
$footer-logo-height-desktop: 70px
